@mixin desktop-wrapper {
  box-sizing: border-box;
  width: auto;
  padding-left: 13%;
  padding-right: 13%;
  // margin: 0 auto;
}

@mixin desktop-middle-wrapper {
  box-sizing: border-box;
  max-width: auto;
  padding-left: 20%;
  padding-right: 20%;
  // margin: 0 auto;
}

@mixin desktop-full-wrapper {
  box-sizing: border-box;
  max-width: $desktop-full-width;
  margin: 0 auto;
}

@mixin tablet-wrapper {
  width: auto;
  padding-left: 3.3%;
  padding-right: 3.3%;
  // margin: 0 auto;
}

@mixin tablet-full-wrapper {
  min-width: 320px;
  margin: 0;
}

@mixin mobile-wrapper {
  max-width: auto;
  padding-left: 4.3%;
  padding-right: 4.3%;
  margin: 0 auto;
}
