$main-background-color: #ffffff;
$header-background-color: #1b2d37;

$main-color: #666666;
$content-color: #ffffff;
$accent-color: #00b2ff;
$accent-color-2: #ebebeb;
$accent-color-3: #1b2d37;
$content-opacity-color: rgba(255, 255, 255, 0.1);

$font-size-desktop-xs: 14px;
$font-size-desktop-s: 16px;
$font-size-medium: 18px;
$font-size-desktop-m: 22px;
$font-size-desktop-h3: 24px;
$font-size-desktop-h3-2: 20px;
$font-size-desktop-h2: 36px;
$font-size-tablet-h2: 32px;
$font-size-mobile-h2: 28px;
$font-size-desktop-l: 60px;
$font-size-desctop-xl: 80px;
$font-size-mobile-xl: 40px;
$font-size-mobile-m: 16px;
$font-size-mobile-medium: 20px;

$line-height-xs: 1.1;
$line-height-s: 1.3;
$line-height-sm: 1.4;
$line-height-m: 1.5;


$font-general: "PT Mono", "Arial", sans-serif;
$font-additional: "Roboto Condensed", "Arial", sans-serif;
$font-weight-bold: bold;
$font-weight-normal: normal;

$desktop-width: 1420px;
$desktop-middle-width: 1180px;
$desktop-full-width: 1920px;
$tablet-width: 718px;
$tablet-full-width: 1023px;
$mobile-width: 292px;
$mobile-full-width: 767px;
