.about-us {
  @include desktop-full-wrapper;
}

.about-us__container {
  @include tablet-wrapper;
  box-sizing: border-box;
  padding-bottom: 102px;
  padding-left: 3.3%;
  margin: 0 auto;
  max-width: 1288px;
}

.about-us__right {
  padding-left: 15%;
  padding-top: 7px;
  background-image: url("../img/year2005.png");
  background-repeat: no-repeat;
  background-position: 0 19px;
}

.about-us h2 {
  margin: 0;
  padding: 0;
  font-family: $font-additional;
  font-size: $font-size-desktop-h2;
  font-weight: normal;
  margin-bottom: 26px;
}

.about-us p {
  margin: 0;
  padding: 0;
  width: auto;
  margin-bottom: 26px;
}

.about-us__etc {
  display: none;
}

.about-us__button {
  margin-top: 10px;
  margin-bottom: 7px;
}

@media (max-width: $tablet-full-width) {
  .about-us {
    @include tablet-full-wrapper;
  }

  .about-us__container {
    @include tablet-wrapper;
    width: auto;
    padding-bottom: 75px;
  }

  .about-us__right {
    padding-left: 26%;
    padding-top: 0;
    background-image: url("../img/year2005-tablet.png");
    background-position: 1% 6px;
  }

  .about-us h2 {
    font-size: $font-size-tablet-h2;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .about-us p {
    width: 532px;
    margin-bottom: 22px;
  }

  .about-us__button {
    margin-top: 23px;
  }

  .about-us__etc {
    display: inline;
  }

  .about-us__additional-text {
    display: none;
  }
}

@media (max-width: $mobile-full-width) {
  .about-us__container {
    @include mobile-wrapper;
    padding-bottom: 57px;
  }

  .about-us__right {
    background-image: none;
    padding-left: 0;
  }

  .about-us h2 {
    margin-top: 39px;
    margin-bottom: 25px;
    font-size: $font-size-mobile-h2;
  }

  .about-us p {
    width: auto;
    margin-bottom: 47px;
  }

  .about-us__button {
    margin-top: -16px;
  }
}
