.features {
  @include desktop-full-wrapper;
  display: flex;
  padding-top: 111px;
  margin-bottom: 68px;
  width: 100%;
  box-sizing: border-box;
}

.features__container {
  @include desktop-middle-wrapper;
  display: flex;
}

@media (max-width: $tablet-full-width) {
  .features {
    @include tablet-full-wrapper;
    padding-top: 56px;
    width: 100%;
  }

  .features__container {
    @include tablet-wrapper;
  }
}

@media (max-width: $mobile-full-width) {
  .features {
    padding-top: 67px;
    width: 100%;
  }

  .features__container {
    @include mobile-wrapper;
  }
}
