.features {
  @include desktop-full-wrapper;
  display: flex;
  padding-top: 111px;
  margin-bottom: 76px;
  width: 1178px;
}

.features__container {
  @include desktop-middle-wrapper;
}

@media (max-width: $tablet-full-width) {
  .features {
    @include tablet-full-wrapper;
    padding-top: 56px;
    width: 770px;
  }

  .features__container {
    @include tablet-wrapper;
  }
}

@media (max-width: $mobile-full-width) {
  .features {
    padding-top: 67px;
    width: 290px;
  }

  .features__container {
    @include mobile-wrapper;
    padding-left: 0;
  }
}
