.feature {
  border: 1px solid $accent-color-2;
  border-left: 3px solid $accent-color;
  padding: 42px;
  padding-top: 91px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  font-size: $font-size-desktop-s;
  line-height: $line-height-sm;
  background-repeat: no-repeat;
  background-position: 43px 38px;
  background-color: $content-color;
}

.feature:hover {
  background-color: $accent-color;
  color: $content-color;
}

.feature:hover h3 {
  color: $content-color;
}

.feature h3 {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-weight: $font-weight-normal;
  color: $accent-color;
  font-size: $font-size-desktop-h3;
  line-height: $line-height-m;
  font-family: $font-additional;
}

.feature p {
  margin: 0;
  padding: 0;
}

.feature--time {
  background-image: url("../img/stopwatch.svg");
}

.feature--time:hover {
  background-image: url("../img/stopwatch-white.svg");
}

.feature--suppliers {
  background-image: url("../img/hired.svg");
}

.feature--suppliers:hover {
  background-image: url("../img/hired-white.svg");
}

.feature--confidential {
  background-image: url("../img/detective.svg");
}

.feature--confidential:hover {
  background-image: url("../img/detective-white.svg");
}

.feature--cost {
  background-image: url("../img/tag.svg");
}

.feature--cost:hover {
  background-image: url("../img/tag-white.svg");
}

@media (max-width: $tablet-full-width) {
  .feature {
    padding: 25px;
    padding-top: 63px;
    padding-bottom: 19px;
    padding-right: 21px;
    background-position: 24px 22px;
  }

  .feature h3 {
    margin-bottom: 10px;
  }
}

@media (max-width: $mobile-full-width) {
  .feature {
    margin-bottom: 20px;
    padding-top: 70px;
    padding-bottom: 24px;
    padding-right: 17px;
  }

  .feature h3 {
    font-size: $font-size-mobile-medium;
    margin-bottom: 7px;
  }

  .feature--suppliers {
    padding-right: 14px;
  }

  .feature--confidential {
    padding-top: 64px;
  }
}
