.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-list__item {
  width: 48.3%;
  min-height: 299px;
  box-sizing: border-box;
}

@media (max-width: $tablet-full-width) {
  .features-list__item {
    min-height: 232px;
  }
}

@media (max-width: $mobile-full-width) {
  .features-list__item {
    width: 100%;
  }
}
