.footer-social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 112px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-social__item {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: red;
}
