.header-middle {
  @include desktop-wrapper;
  margin-bottom: 103px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-right: 0;
}

.header-middle__left-column {
  width: 47%;
  position: relative;
}

.header-middle__right-column {
  width: 53%;
  background-image: url("../img/circuit-board.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  min-height: 520px;
}

.header-middle p {
  margin: 0;
  padding: 0;
  font-size: $font-size-desktop-m;
  line-height: $line-height-m;
  width: 81%;
  padding-left: 96px;
  position: relative;
  margin-bottom: 43px;
}

.header-middle p::before {
  content: "";
  width: 66px;
  height: 2px;
  background-color: $content-color;
  position: absolute;
  left: 0;
  top: 13px;
}

@media (max-width: $tablet-full-width) {
  .header-middle {
    @include tablet-wrapper;
    margin-bottom: 58px;
    margin-left: 8.6%;
    padding-left: 2.9%;
    padding-right: 0;
  }

  .header-middle__right-column {
    background-image: url("../img/circuit-board-tablet.png");
    background-position: 100% 5px;
  }

  .header-middle p {
    padding-left: 50px;
    width: 356px;
    font-size: $font-size-medium;
    margin-bottom: 57px;
  }

  .header-middle p::before {
    width: 33px;
    left: 3px;
    top: 14px;
  }
}

@media (max-width: $mobile-full-width) {
  .header-middle {
    margin-bottom: 42px;
    margin-left: 0;
    flex-direction: column-reverse;
    padding-left: 0;
  }

  .header-middle__left-column {
    @include mobile-wrapper;
    width: 100%;
    box-sizing: border-box;
  }

  .header-middle__right-column {
    background-image: url("../img/circuit-board-mob.png");
    background-position: 100% 0;
    width: 100%;
    min-height: 222px;
  }

  .header-middle p {
    width: auto;
    font-size: $font-size-mobile-m;
    margin-bottom: 42px;
  }
}
