.logo-item {
  flex-grow: 1;
  margin-top: 7px;
  margin-left: -5px;
}

@media (max-width: $tablet-full-width) {
  .logo-item {
    margin-top: 6px;
    margin-left: -1px;
  }
}

@media (max-width: $mobile-full-width) {
  .logo-item {
    margin-top: 4px;
    margin-left: 1px;
  }
}
