.page-parts {
  font-size: $font-size-desktop-ss;
  position: relative;
}

.page-parts__item {
  width: 47%;
}

.page-parts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.page-parts__link {
  color: $main-color;
  font-size: $font-size-desktop-ss;
  line-height: $line-height-l;
}

.page-parts__link:hover,
.page-parts__link:focus {
  color: $accent-color;
}

.page-parts__link:active {
  color: $accent-color-3;
}

.page-parts__show {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  border: none;
  right: 0;
  top: 29px;
  display: none;
  background-color: transparent;
}

.page-parts__hide {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  border: none;
  right: 0;
  top: 29px;
  display: none;
  background-color: transparent;
}

.page-parts__show::before {
  content: "";
  position: absolute;
  background-color: $show-hide-color;
  width: 16px;
  height: 1px;
  left: 0;
  top: 50%;
}

.page-parts__show::after {
  content: "";
  position: absolute;
  background-color: $show-hide-color;
  width: 1px;
  height: 16px;
  left: 50%;
  top: 0;
}

.page-parts__hide::before {
  content: "";
  position: absolute;
  background-color: $show-hide-color;
  width: 16px;
  height: 1px;
  left: 0;
  top: 50%;
}

.page-parts__show--hidden {
  display: none;
}

.page-parts__hide--hidden {
  display: none;
}

.page-parts__list--shown {
  display: flex;
}

@media (max-width: $tablet-full-width) {
  .page-parts__list {
    flex-direction: column;
  }
}

@media (max-width: $mobile-full-width) {
  .page-parts__show--shown {
    display: block;
  }

  .page-parts__hide--shown {
    display: block;
  }

  .page-parts__list--closed {
    display: none;
  }
}
