.page-promo {
  margin: 0;
  padding: 0;
  font-size: $font-size-desktop-m;
  line-height: $line-height-m;
  width: 45%;
  padding-left: 96px;
  position: relative;
  margin-bottom: 43px;
}

.page-promo::before {
  content: "";
  width: 66px;
  height: 2px;
  background-color: $content-color;
  position: absolute;
  left: 0;
  top: 13px;
}

@media (max-width: $tablet-full-width) {
  .page-promo {
    padding-left: 50px;
    width: 356px;
    font-size: $font-size-medium;
    margin-bottom: 56px;
  }

  .page-promo::before {
    width: 33px;
  }
}

@media (max-width: $mobile-full-width) {
  .page-promo {
    width: auto;
    font-size: $font-size-mobile-m;
    margin-bottom: 42px;
  }
}
