.page-header {
  @include desktop-full-wrapper;
  color: $content-color;
  padding-top: 25px;
  background-image: url("../img/triangle.png"), url("../img/bg-banner.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 81% 70%, 0 0;
  background-color: $header-background-color;
  display: flex;
  flex-direction: column;
}

.page-header h1 {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  font-family: $font-additional;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  font-size: $font-size-desctop-xl;
  line-height: $line-height-xs;
  letter-spacing: 0.07em;
  margin-top: 61px;
}

@media (max-width: $tablet-full-width) {
  .page-header {
    @include tablet-full-wrapper;
    padding-top: 13px;
    background-image: url("../img/triangles-tablet.svg"), url("../img/bg-banner.png");
    background-position: 113% 0, 0 0;
  }

  .page-header h1 {
    width: 370px;
    font-size: $font-size-desktop-l;
    margin-bottom: 35px;
    margin-top: 79px;
  }
}

@media (max-width: $mobile-full-width) {
  .page-header {
    background-image: url("../img/triangles-mob.png"), url("../img/bg-banner.png");
    background-position: 100% 27%, 0 0;
  }

  .page-header h1 {
    width: 222px;
    font-size: $font-size-mobile-xl;
    margin-top: -26px;
    margin-bottom: 31px;
  }
}
