.page-middle {
  background-image: url("../img/Polygon1.svg"),
    url("../img/Polygon2.svg"),
    url("../img/polygone3.svg"),
    url("../../img/polygone4.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 13% 4%, 98% 42%, 1% 125%, 53% 38%;
}

@media (max-width: $tablet-full-width) {
  .page-middle {
    background-image: url("../img/polygone-tablet.svg");
    background-repeat: no-repeat;
    background-position: 100% 34%;
  }
}

@media (max-width: $mobile-full-width) {
  .page-middle {
    width: auto;
    margin: 0 auto;
    background-image: url("../img/polygone-mobile.png");
    background-repeat: no-repeat;
    background-position: 100% 68%;
  }
}
