.products {
  @include desktop-full-wrapper;
  background-color: $accent-color-3;
  padding-top: 90px;
  padding-bottom: 126px;
}

.products__container {
  @include tablet-wrapper;
  max-width: 1174px;
  margin: 0 auto;
}

.products h2 {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  color: $content-color;
  font-family: $font-additional;
  font-size: $font-size-desktop-h2;
  font-weight: normal;
}

@media (max-width: $tablet-full-width) {
  .products {
    @include tablet-full-wrapper;
    padding-top: 48px;
    padding-bottom: 32px;
  }

  .products__container {
    @include tablet-wrapper;
  }

  .products h2 {
    width: 85%;
    margin-bottom: 53px;
    font-size: $font-size-tablet-h2;
    line-height: $line-height-sm;
  }
}

@media (max-width: $mobile-full-width) {
  .products {
    padding-bottom: 34px;
  }

  .products__container {
    @include mobile-wrapper;
  }

  .products h2 {
    font-size: $font-size-mobile-h2;
    margin-bottom: 44px;
    width: 100%;
    margin-left: 4%;
  }
}
