.products {
  @include desktop-full-wrapper;
  background-color: $accent-color-3;
  padding-top: 90px;
  padding-bottom: 127px;
}

.products__container {
  @include tablet-wrapper;
  max-width: 1174px;
  margin: 0 auto;
}

.products__title {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
  color: $content-color;
  font-family: $font-additional;
  font-size: $font-size-desktop-h2;
  font-weight: normal;
}

@media (max-width: $tablet-full-width) {
  .products {
    @include tablet-full-wrapper;
    padding-top: 48px;
    padding-bottom: 42px;
  }

  .products__container {
    @include tablet-wrapper;
  }

  .products__title {
    margin-bottom: 48px;
    font-size: $font-size-tablet-h2;
  }
}

@media (max-width: $mobile-full-width) {
  .products {
    padding-bottom: 35px;
  }

  .products__container {
    @include mobile-wrapper;
  }

  .products__title {
    font-size: $font-size-mobile-h2;
    margin-bottom: 17px;
  }
}
