.questions-form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 601px;
}

.questions-form input {
  box-sizing: border-box;
  width: 45%;
  margin-right: 5%;
  padding: 13px 15px;
  border: none;
  background-color: $content-opacity-color;
  color: $content-color;
  margin-bottom: 45px;
}

.questions-form input::-webkit-input-placeholder {
  color: $content-color;
}

.questions-form input::-moz-placeholder {
  color: $content-color;
}

.questions-form input:-moz-placeholder {
  color: $content-color;
}

.questions-form input:-ms-input-placeholder {
  color: $content-color;
}

.questions-form textarea {
  width: 90%;
  min-height: 125px;
  padding: 13px 15px;
  border: none;
  background-color: $content-opacity-color;
  color: $content-color;
  margin-bottom: 42px;
}

.questions-form textarea::-webkit-input-placeholder {
  color: $content-color;
}

.questions-form textarea::-moz-placeholder {
  color: $content-color;
}

.questions-form textarea:-moz-placeholder {
  color: $content-color;
}

.questions-form textarea:-ms-input-placeholder {
  color: $content-color;
}

.questions-form input[type="checkbox"] {
  display: none;
}

.questions-form button {
  width: 270px;
}

.questions-form label {
  position: relative;
  display: block;
  width: 236px;
  padding-top: 6px;
  margin-left: 70px;
}

.questions-form label::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 30%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  border: 1px solid $content-color;
}

.questions-form input[type="checkbox"]:checked ~ label::before {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: $tablet-full-width) {
  .questions__form {
    width: 100%;
  }

  .questions-form input {
    padding: 15px 15px;
  }

  .questions-form textarea {
    min-height: 133px;
  }

  .questions-form button {
    width: 45%;
  }
}

@media (max-width: $mobile-full-width) {
  .questions-form input {
    width: 100%;
    margin-bottom: 34px;
    margin-right: 0;
  }

  .questions-form textarea {
    min-height: 77px;
    margin-bottom: 30px;
  }

  .questions-form button {
    width: 100%;
  }

  .questions-form label {
    margin-left: 34px;
    margin-top: 20px;
    width: 100%;
    padding-top: 0;
  }
}
