.questions {
  @include desktop-full-wrapper;
  background-color: $accent-color;
  color: $content-color;
  background-image: url("../img/polygone-questions-3.png"),
    url("../img/polygone-questions-1.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 15% 51%, 100% 62%;
}

.questions__container {
  max-width: 1227px;
  margin: 0 auto;
  display: flex;
  padding-top: 91px;
  padding-bottom: 113px;
  justify-content: space-between;
}

.questions__left-part {
  width: 42%;
  display: flex;
  background-image: url("../img/airplane.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 41%;
}

.questions__right-part {
  flex-basis: 49%;
  margin-left: 9%;
}


.questions h2 {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  font-weight: normal;
  font-family: $font-additional;
  font-size: $font-size-desktop-h2;
  line-height: $line-height-sm;
  width: 100%;
}

.questions p {
  width: 100%;
  margin: 0;
  margin-bottom: 53px;
  padding: 0;
}

@media (max-width: $tablet-full-width) {
  .questions {
    @include tablet-full-wrapper;
  }

  .questions__container {
    @include tablet-wrapper;
    background-image: none;
    padding-top: 79px;
    padding-bottom: 104px;
    padding-left: 12.3%;
    padding-right: 7.3%;
  }

  .questions__left-part {
    display: none;
  }

  .questions__right-part {
    margin-left: 0;
    flex-basis: 100%;
  }

  .questions h2 {
    width: 100%;
    font-size: $font-size-tablet-h2;
    margin-bottom: 19px;
  }

  .questions p {
    width: 100%;
    margin-bottom: 57px;
  }
}

@media (max-width: $mobile-full-width) {
  .questions__container {
    @include mobile-wrapper;
    padding-top: 29px;
    padding-bottom: 43px;
  }

  .questions h2 {
    font-size: $font-size-mobile-h2;
  }

  .questions p {
    margin-bottom: 26px;
  }
}
