.scroll-link {
  position: absolute;
  color: $content-color;
  opacity: 0.5;
  top: 480px;
  left: -5%;
  transform: rotate(-90deg);
}

.scroll-link:hover,
.scroll-link:focus {
  color: $accent-color;
}

.scroll-link:active {
  color: $content-color;
  opacity: 0.3;
}

@media (max-width: $tablet-full-width) {
  .scroll-link {
    display: none;
  }
}
